div{
	padding-top: 20px;
	font-family: monospace;
    font-style: oblique;
    font-variant: small-caps;
}

.value{
	margin-left: 300px;
	text-align: left;
}

/*.allDetails{
	visibility: hidden;
}*/

button{
	background-color: lightgrey;
    border-radius: 5px;
    border-color: lightgray;
}
